
body {
    background-color: #000;
}

.container {
    max-width: 600px;
    margin:0 auto;
    padding-top:200px;
}
.block__select{
    display: flex;
    justify-content: center;

}
.select {
    border-radius: 0;
    background:#66ccff;
    height: 50px;
    padding: 5px;
    font-size: 26px;
    -webkit-appearance: none;
    width: 600px;

}

.list {
    margin: 0;
    counter-reset: li;
    list-style: none;
    background:#66ccff;
    padding: 10px;

}
.list li {
    position: relative;
    margin: 0 0 10px 2em;
    padding: 4px 8px;



}
.list li:last-child {margin-bottom: 0;}
.list li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: -2px;
    left: -2em;
    width: 2em;
    box-sizing: border-box;
    margin-right: 8px;
    padding: 4px;
    color: #000;
    font-weight: bold;
    text-align: center;
    transition: .3s linear;

}


